@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<h1>ShipPlacement</h1>

<form method="post" asp-page-handler="chooseaship">
    @foreach (var board in Model.GameBoards)
    {
    <div class="form-group">
        <input type="hidden" name="shipId" value="@board.NavyBattlePieces[0].Ship.Id" />
        <partial name="_GameBoard" model="board" />
        <input type="submit" class="btn btn-primary" value="Place" />
    </div>
    }
   
</form>

<partial name="_GameBoard" model="Model.Board" />

