@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<h1>ShipPlacement</h1>
<div>
    <h2>Your Fleet:</h2>

    <form method="get">
        @foreach (var board in Model.GameBoards)
        {
            <div class="form-group">
                <input type="hidden" name="shipId" value="@board.NavyBattlePieces[0].Ship.Id" />
                <partial name="_GameBoard" model="board" />
                <input type="submit" class="btn btn-primary" value="Place" />
            </div>
        }

    </form>
</div>

<div>
    @if (Model.ChoosenShip != null)
    {
        <h2>You are Placing @Model.ChoosenShip.NavyBattlePieces[0].Ship.Name:</h2>
        <partial name="_GameBoard" model="Model.ChoosenShip" />

    }
</div>
<br />
<hr />
<br />
<div>
    <partial name="_GameBoard" model="Model.Board" />
</div>