@page
@model BattleShips.ShipPlacementModel
@{
    ViewData["Title"] = "ShipPlacement";
}

<h1>ShipPlacement</h1>



<div class="board">
    <table class="table">
        <tbody>

 

            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    @for (var j = 0; j < 10; j++)
                    {
                        <td class="board-piece-water">@i  @j</td>
                    }
                </tr>
            }

           
        </tbody>
    </table>
</div>

<div>
    <p>
        <a asp-page="./ShipPlacement" class="btn btn-primary">Finish placement</a>
    </p>
</div>