@page
@model BattleShips.Pages.Administration.Games.SettingsModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Game Settings</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Allow/Dissallow ship</th>
            <th class="text-center">Ship</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SetupShips)
        {
            <tr>
                @if (item.Ship.IsAllowed == false)
                {
                    <th style="text-align:center;" class="align-middle">
                        <form method="post" asp-page-handler="allowship">
                            <input type="hidden" name="shipId" value="@item.Ship.Id" />
                            <button class="btn btn-primary pt-3 pb-3 pl-4 pr-4" >Allow Ship</button>
                        </form>
                    </th>
                }
                else
                {
                    <th style="text-align:center;" class="align-middle">
                        <form method="post" asp-page-handler="disallowship">
                            <input type="hidden" name="shipId" value="@item.Ship.Id" />
                            <button class="btn btn-danger p-3">Disallow Ship</button>
                        </form>
                    </th>
                }
              
                <th>
                    <partial name="_GameBoard" model="item.GameBoard" />
                </th>
            </tr>
        }
    </tbody>
</table>