@page
@model BattleShips.InGameModel
@using BattleShips.ViewModels
@{
    ViewData["Title"] = "InGame";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>InGame (Development)</h1>
<br />
<br />


@foreach(GameBoardData gameBoard in Model.GameBoards)
{
    <partial name="_GameBoard" model="gameBoard"/>
    
}
