@page
@model BattleShips.InGameModel
@using BattleShips.ViewModels
@{
    ViewData["Title"] = "InGame";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>InGame</h1>
@if (Model.Game is null)
{
    <h3>There currently is not an active game.</h3>
}
else
{
    @if (Model.Game.GameState == GameState.ShipPlacement)
    {
        <h3>Waiting for other players to finish ship placement.</h3>
    }
    @if (Model.Game.GameState == GameState.Ended)
    {
        <h3>This game has ended. <strong>@Model.Game.CurrentPlayer.PlayerName</strong> won!</h3>
    }
    <br />
    <br />
    <h4 class="text-primary">@Model.FireResult</h4>

    @foreach (GameBoardData gameBoard in Model.GameBoards)
    {
        <partial name="_GameBoard" model="gameBoard" />

    }

}
