.piece {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid gray;
}

.piece-a {
    display: block;
    padding: 25px;
}

.game-board-table {
    margin-left: auto;
    margin-right: auto;
}



.game-board-table td {
    padding: 0;
}
.game-board-table th {
    padding: 0;
}

.Water {
    background-color: rgb(33, 151, 221);
}
.HitWater {
    background-color: rgb(33, 151, 221);
}

.Ship {
    background-color: rgb(57, 37, 30);
}
.HitShip {
    background-color: rgb(57, 37, 30);
}
.Margin {
    background-color: rgb(200, 200, 200);
}

.board-piece-hidden {
    background-color: rgb(225, 225, 225);
}


.board-piece-water:hover {
    background-color: rgb(163, 219, 253);
}
.board-piece-ship:hover {
    background-color: rgb(163, 219, 253);
}

