@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<h2>Pages for development</h2>
<div class="form-group">
   
    <a asp-page="./CreateGame/AdminGameSetup" class="btn btn-primary">Admin (dočasně)</a>
    <a asp-page="./CreateGame/ShipPlacement" class="btn btn-primary">Placement (dočasně)</a>
</div>




