@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <h1>BattleShips</h1>
    </div>
</div>

<div class="form-group">
    <a asp-page="./CreateGame/CreatingGame" class="btn btn-primary">Create New Game</a>
    <a asp-page="./GameList/GameList" class="btn btn-primary">Join The Game</a>
    <a asp-page="./CreateGame/ShipPlacement" class="btn btn-primary">Placement (dočasně)</a>
</div>


