@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<br />
<h2>Pages for development</h2>
<div class="form-group">
    <a asp-page="./CreateGame/GameSetup" class="btn btn-primary">Create New Game</a>
    <a asp-page="./CreateGame/AdminGameSetup" class="btn btn-primary">Admin (dočasně)</a>
    <a asp-page="./GameList/GameList" class="btn btn-primary">Join The Game</a>
    <a asp-page="./CreateGame/ShipPlacement" class="btn btn-primary">Placement (dočasně)</a>
    <a asp-page="./InGame/InGame" asp-route-Id="0edf16a1-3c32-4ccc-84b7-6355ddc22c45" class="btn btn-primary">InGame (For development)</a>
</div>




